.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.events-container {
  margin-top: 30px;
  background-color: white;
}

.events-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upcoming {
  width: 600px;
}

.events-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.event-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.event {
  background-color: white;
}

.input,
.label {
  display: block;
}

.ftBottomLayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ftLogo {
  width: 321px;
  height: 71px;
  margin-bottom: 18px;
}

.PrivateRoutes {
  top: 90px;
  position: absolute;
  width: 100%;
}

.progress-bar {
  background-color: #003b71;
}
.events-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-button {
  text-align: center;
}

.upload-image {
  text-align: center;
  margin-bottom: 30px;
}

.categories {
  width: 80%;
}

.categories-top,
.categories-bottom,
.event-header {
  margin-bottom: 30px;
}

.event-description-input,
.event-age-input,
.event-price-input,
.event-link-input {
  margin-bottom: 30px;
}

.location-checkboxes,
.age-radio-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navButtons {
  display: flex;
  justify-content: flex-end;
}

.no-events-text {
  color: #79add5;
  margin-top: 10%;
}

.event-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clickable-event-card {
  cursor: pointer;
}
/*
.event-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  height: 600px;
}
.event-info-top {
}
.event-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-info-image {
  height: 200px;
}

.event-info-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.event-about {
  width: 70%;
}

.event-details {
  width: 25%;
}

*/
.confirmation-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #79add5;
  width: 350px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.3rem;
  padding: 1rem;
  z-index: 5;
}
